@using SBInteligencia.DTO
@model DashboardDTO

<div class="row">

    <!-- INFORMES -->
    <div class="col-md-4">
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>@Model.TotalInformes</h3>
                <p>Informes Generados</p>
            </div>
            <div class="icon">
                <i class="fa fa-file"></i>
            </div>
        </div>
    </div>

    <!-- HECHOS -->
    <div class="col-md-4">
        <div class="small-box bg-green">
            <div class="inner">
                <h3>@Model.TotalHechos</h3>
                <p>Hechos</p>
                <small>
                    @Model.HechosDesde?.ToString("dd/MM/yyyy")
                    -
                    @Model.HechosHasta?.ToString("dd/MM/yyyy")
                </small>
            </div>
            <div class="icon">
                <i class="fa fa-map-marker"></i>
            </div>
        </div>
    </div>

    <!-- INVOLUCRADOS -->
    <div class="col-md-4">
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>@Model.TotalInvolucrados</h3>
                <p>Involucrados</p>
                <small>
                    @Model.InvolucradosDesde?.ToString("dd/MM/yyyy")
                    -
                    @Model.InvolucradosHasta?.ToString("dd/MM/yyyy")
                </small>
            </div>
            <div class="icon">
                <i class="fa fa-users"></i>
            </div>
        </div>
    </div>

</div>